.introPage {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding-top: 110px;
    margin-bottom: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.intro {
    /*background-color: red;*/
    max-width: 600px;
}

.title {
    font-weight: 700;
    font-size: 75px;
}

.profile {
    /*background-color: blue;*/
}

.profileImage {
    width: 300px;
}

.links {
    display: flex;
    place-content: center;
    /*background-color: red;*/
    height: 50px;
}

.linkdenButton, .githubButton, .contactButton {
    margin: 4px;
    height: 35px;
    background-color: rgb(116, 116, 116);
    color: white;
    border: none;
    margin-top:15px;
    border-radius: 2px;
}

.linkdenButton:hover, .githubButton:hover, .contactButton:hover {
    opacity: 0.9;
}

.linkdenButton:hover, .githubButton:hover, .contactButton:active {
    opacity: 0.7;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
}

.highlights {
    /*background-color: green;*/
    height: 100px;
}

.latest {
    /*background-color: orange;*/
    height: 100px;
}