body {
    background-color: rgb(48, 48, 50);
    color: white;
    font-family: Roboto;
}

.header {
    display: grid;
    grid-template-columns: 600px 300px;
    margin-left: 200px;
    padding: 70px;
    margin-right: 70px;
}

.headerText {
    background-color: red;
}

.title {
    font-weight: 700;
    font-size: 75px;
}

.profile {
    background-color: blue;
}

.profileImage {
    width: 300px;
}

.blank {
    background-color: blue;
    height: 50px;
}

.links {
    background-color: red;
    height: 50px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
}

.highlights {
    background-color: green;
    height: 100px;
}

.latest {
    background-color: orange;
    height: 100px;
}